﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main.master" AutoEventWireup="true" CodeBehind="vencimento.aspx.cs" Inherits="webequilibrio.app.controle.vencimento" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <dx:ASPxRoundPanel ID="ASPxRoundPanel1" runat="server" HeaderText="Controle de vencimento" Theme="Metropolis" Width="600px">
        <PanelCollection>
<dx:PanelContent runat="server">
    <h4>
    <asp:Label ID="Label1" runat="server" Text="Página onde se poderá cadastrar, monitorar e controlar o prazo de vencimento de qualquer coisa que se faça necessária."></asp:Label>
        </h4>    
        </dx:PanelContent>
            
</PanelCollection>
    </dx:ASPxRoundPanel>
</asp:Content>
