<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Main.master" CodeBehind="Default.aspx.cs" Inherits="webequilibrio._Default" %>


<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">

   <div class="container">
     
   </div>

</asp:Content>