﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Grafico.master" AutoEventWireup="true" CodeBehind="Default_graf.aspx.cs" Inherits="webequilibrio.app.grafico.Default_graf" %>
<asp:Content ID="Content1" ContentPlaceHolderID="GraficoContent" runat="server">
</asp:Content>
